@(form: Form[Signup])(implicit flash:Flash, request:RequestHeader)

@main("Register - Todo list") {
	
	
        @helper.form(routes.Auth.signUpPost) {
            
            @form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            
            <p>
                <input type="name" name="name" class="form-control" placeholder="User name" id="username" value="@form("name").value">
            </p>
       		@form.errors.filter(_.key=="name").map{ err => 
       			<p class="error">
       				@Messages(err.message, err.args: _*).toString
       			</p> 
       		}
            <p>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </p>
       		@form.errors.filter(_.key=="password").map{ err => 
       			<p class="error">
       				@Messages(err.message, err.args: _*).toString
       			</p> 
       		}
            <p>
                <input type="password" name="passwordConfirmation" class="form-control" id="passwordConfirmation" placeholder="Password confirmation">
            </p>
       		@form.errors.filter(_.key=="passwordConfirmation").map{ err => 
       			<p class="error">
       				@Messages(err.message, err.args: _*).toString
       			</p> 
       		}
            <p>
                <button type="submit" class="form-control" id="loginbutton">Register</button>
            </p>
            
        }
        
}
        
