@(form: Form[Signup])(implicit flash:Flash, request:RequestHeader)

@main("Register - Todo list") {
	
	
        @helper.form(routes.Auth.signUpPost) {
            
            @form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            
            <p>
                <input type="name" name="name" placeholder="User name" id="username" value="@form("name").value">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Password">
            </p>
            <p>
                <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password confirmation">
            </p>
            <p>
                <button type="submit" id="loginbutton">Register</button>
            </p>
            
        }
        
}
        
