@(tasks: List[Task], newTaskForm:Form[Task], user:User)(implicit flash:Flash)

	<table class="table" id="tasksTable">
	<span style="display:none" id="tableTitle">@(""+tasks.size + " task(s) of user "+user.name)</span>
	<thead>
	<tr><td>!</td><td>Task</td><td>
			<button class="btn btn-mini" alt="remove all completed tasks">
				<span class="glyphicon glyphicon-trash"></span>
				<span class="glyphicon glyphicon-trash"></span>
			</button>
	</td></tr>
	</thead>
		<tbody>
	@tasks.map { task => <tr>
		<td>@task.priority.level</td>
		<td><div class="jeditable"
						data-pk="@task.id" 
						data-type="text" 
						data-name="text"
						data-inputclass="form-control task-text-input"
						>
							@if(task.status == Completed) { <strike>@task.text</strike } else {@task.text} 
					</div>
			</td>
		<td>
			<button type="submit" class="btn btn-mini" onClick="deleteTask(@task.id)">
				<span class="glyphicon glyphicon-trash"></span>
			</button>			
		</td>
	</tr>		
		}
	</tbody>

	<tfoot>
@* The form for adding tasks: *@
	<tr>	
	@helper.form(routes.Task.add) {
	    
		<td>&nbsp;
			<input type="hidden" name="id" id="newTaskId" value="0">
			<input type="hidden" name="status" id="newTaskStatus" value="0">
			<input type="hidden" name="priority" id="newTaskPriority" value="0">
		</td>
		<td>
		    <input type="text" name="text" 
		    	placeholder="Task description" id="text" value="@newTaskForm("text").value">
		</td>
		<td>
		    <button type="submit" id="addTaskButton" class="btn btn-mini">
		    	<span class="glyphicon glyphicon-plus"></span>
		    </button>
	    </td>
	}
	</tr>
	
	@flash.get("success").map { message =>
	    <tr><td colspan="3" class="success">@message</td>
	    </tr>
	}
	
	@if(newTaskForm.globalError.size>0){
		@newTaskForm.globalError.map { error => 
			<tr><td colspan="3" class="error">@error.message</td>
			</tr>
		}
	}
		
	</tfoot>
	</table>
