@(tasks: List[Task], newTaskForm:Form[Task], user:User)(implicit flash:Flash)

	<table class="table" id="tasksTable">
	<span style="display:none" id="tableTitle">@(""+tasks.size + " task(s) of user "+user.name)</span>
	<thead>
	<tr>
		<td width="15px"></td>
		<td width="70px">&#x2762</td>
		<td>Task</td>
		<td width="15px">
			<button id="task-delete-done" class="btn btn-mini task-delete-done" alt="remove all completed tasks">
				<span class="glyphicon glyphicon-trash"></span>
				<span class="glyphicon glyphicon-trash"></span>
			</button>
	</td></tr>
	</thead>
		<tbody>
	@tasks.map { task => <tr data-pk="@task.id">
		<td>
			<input
				class="task-status" 
				type="checkbox" 
				@if(task.status == Completed) { checked } 
				data-pk="@task.id"
				/>
		</td>
		<td><div class="jeditable-select"
						data-pk="@task.id" 
						data-name="priority"
						data-type="select"
						data-source="{'0':'&nbsp;','1':'&#x2762','-1':'&#xe094'}" 
						data-inputclass="form-control task-priority-input"
						
						style="font-family: 'Glyphicons Halflings', Arial; margin-left:0px"						
		>@task.priority.level match {
				case 0 => { &nbsp;}
				case 1 => {<span class="text-danger">&#x2762</span>}
				case -1 => {<span class="text-info">&#xe094</span>}
			}</div>
		</td>
		<td><div class="jeditable"
						data-pk="@task.id" 
						data-type="text" 
						data-name="text"
						data-inputclass="form-control task-text-input"
						>
							@if(task.status == Completed) { <strike>@task.text</strike } else {@task.text} 
					</div>
			</td>
		<td>
			<button 
				type="submit" 
				class="btn btn-mini task-delete" 
				data-pk="@task.id">
				<span class="glyphicon glyphicon-trash"></span>
			</button>			
		</td>
	</tr>		
		}
	</tbody>

	<tfoot>
@* The form for adding tasks: *@
	<tr>	
	    <td>&nbsp;
			<input type="hidden" name="id" id="newTaskId" value="0" class="new-task">
			<input type="hidden" name="status" id="newTaskStatus" value="0" class="new-task">
	    </td>
		<td>
			@* <select class="form-control new-task" name="priority" id="newTaskPriority" style="font-family: 'Glyphicons Halflings', Arial;">
					@Priority.priorities.map { p =>
						<option 
							value="@p.level" 
							@if(p == Priority.Default) { selected }								
							>@p.toLabel</option>
					}
				</select>
			*@				
				<select class="form-control new-task task-priority-input" 
						name="priority" 
						id="newTaskPriority" 
						>
					<option title="Normal priority" value="@Priority.Normal.level" selected>
						
					</option>
					<option title="High priority" value="@Priority.High.level" class="text-danger">
						&#x2762
					</option>
					<option title="Low priority" value="@Priority.Low.level" class="text-info">
						&#xe094
					</option>
				</select>
		</td>
		<td>
		    <input type="text" name="text" class="form-control new-task"
		    	placeholder="Task description" id="text" value="@newTaskForm("text").value">
		</td>
		<td>
		    <button id="task-add" class="btn btn-mini task-add">
		    	<span class="glyphicon glyphicon-plus"></span>
		    </button>
	    </td>
	</tr>
	
	@flash.get("success").map { message =>
	    <tr><td colspan="3" class="success">@message</td>
	    </tr>
	}
	
	@if(newTaskForm.globalError.size>0){
		@newTaskForm.globalError.map { error => 
			<tr><td colspan="3" class="error">@error.message</td>
			</tr>
		}
	}
		
	</tfoot>
	</table>
